/* Global -------------------------------------------- */
:root{
    --orange: #fd5a1af8;
    --green: #ADEB46;
    --white-logo: #F1EEC5;
    --white: #fefefe;
    --white-ice: #F1F1F1;
    --logo-grey: #968D86;
    --yellow: #FECF4B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

body{
    display:flex; 
    flex-direction:column; 
    height: 100vh;
    background-color: var(--white-ice);
    font-family: 'Saira', sans-serif;
}

.container{
    display: inline-block;
    width: min(90vw, 800px);
    margin: auto;
    border: #968D86 solid 1px;
}



/* Header -------------------------------------------- */
header ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header{
    background: var(--orange);
    box-shadow: #968D86 2px 2px 2px 2px;
    padding: 1rem 6.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


header ul #pic img{
    border: black solid 1px;
    border-radius: 50%;
    size: 50%;
}

header .cat{
    cursor: pointer;
}

section{
    padding: 4rem;
}

/* #medidasSection{
    padding-left: 10rem;
} */


/* Main -------------------------------------------- */    
.color {
    background-color: yellow;
}

main{
    background: var(--white);
    display: flex;
    justify-content: center;
    font-size: 14pt;
    border-radius: .25rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.568);
}

main .tittle{
    text-align: center;
    margin-bottom: 1.5rem;
}

main p{
    text-align: left;
}

/* Cards and buttons -------------------------------------------- */    
main .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-ice);
    border-radius: .25rem;
    border: black solid 1px;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.568);
    cursor: pointer;
    flex-wrap: wrap;
    font-size: 90%;
}


main .card:hover{
    background-color: #00ff00;
    
}

main .button{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: .25rem;
    border: rgb(0, 0, 0) solid 1px;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.568);
    cursor: pointer;
}

main .button:hover{
    background-color: rgb(12, 12, 12);
    
}

/* #over{
    flex-wrap: wrap;
    
} */

/* #medidasButton1, #medidasButton2{
    width: 88%;
} */


/* Radio -------------------------------------------- */    
 .radio-item {
    display: inline-block;
    padding: 0 6px;
    margin: 10px 0 0;
    margin-bottom: 2rem;
  }

  .radio-item label {
      cursor: pointer;
  }
  
  /* .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    color: #666;
    font-weight: normal;
    cursor: pointer;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0 5px 0 0;
    width: 13px;
    height: 13px;
    border-radius: 11px;
    border: 1px solid black;
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 9px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 9.8px;
    left: 9px;
    content: " ";
    display: block;
    background: var(--orange);
  } */ 

  
/* Sliders -------------------------------------------- */    
.slidecontainer {
    /* display: flex; */
    justify-content: center;
    width: 78vw; 
  }


.slider {    
    display: inline-block;
    -webkit-appearance: none;  
    appearance: none;
    max-width: 60%;
    width: 500px; 
    height: 5px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.5; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: .25rem;
    margin-bottom: 3rem;
    /* padding: 0 60px; */
  }

.slider:hover {
    opacity: 1; 
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 5px; 
    height: 25px; 
    background: var(--orange); 
    cursor: pointer;
    border-radius: .25rem;
  }

.height{
      display: flex;
      justify-content: center;
      align-items: center;
  }

 
  
/* 
  #age1{
      border: black 1px solid;
      display: flex;
      justify-content: space-between;
  } */

/* Footer -------------------------------------------- */   
footer{
    position: relative;
    justify-content: center;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    margin-top: 80px;
}

/* Responsive -------------------------------------------- */
@media (min-width: 800px){
    html{
       font-size: 87.5%;
    }
}